In [6]:
import pandas as pd
import os
import collections
import scipy.stats
import numpy as np
import scipy
import csv
import math
from matplotlib import pyplot as plt
import subprocess
%matplotlib inline
import re
from functools import reduce

In [7]:
string_rna="gene_exprs/ss_32/files/"
string_mirna="som_mut/ss_6_32/files/"

In [8]:
path="clintab_GMQL/"+string_rna
names=[]
barcodes=[]
filelist=os.listdir(path)
filelist.sort()
for file in filelist:

    if file.endswith(".meta"):
        tmp=pd.read_csv(path+file, sep='\t', header=None, index_col=0)
        tmp=tmp.T
        if tmp['biospecimen__shared__bcr_patient_barcode'].values[0] in barcodes:
            print(file)
        else:
            names.append(file[:11])
            barcodes.append(tmp['biospecimen__shared__bcr_patient_barcode'].values[0])
            
            #mi lista i barcode in ordine per gli RNA_seq

S_00028.gdm.meta
S_00088.gdm.meta

In [9]:
len(barcodes)

107

In [117]:
#barcodes=list(barcodes)

In [118]:
#len(barcodes)

In [10]:
path="clintab_GMQL/"+string_mirna
ids=[]

filelist=os.listdir(path)
filelist.sort()
for file in filelist:

    if file.endswith(".meta"):
        tmp=pd.read_csv(path+file, sep='\t', header=None, index_col=0)
        tmp=tmp.T
        barcode=tmp['biospecimen__shared__bcr_patient_barcode'].values[0]
        ids.append(barcode)
        #idx=barcodes.index(barcode)
        #order[idx]=file[:11]
        #notorder.append(file[:11])

 #mi lista i barcode in ordine per miRNA

In [11]:
set1=set(barcodes)
set2=set(ids)
inters=set1.intersection(set2)

barcodes=list(barcodes)
for b in barcodes:
    if b not in inters:
        print(b+' not in index')
        idx=barcodes.index(b)
        n=names[idx]
        names.remove(n)
        barcodes.remove(b)

TCGA-04-1530 not in index
TCGA-24-2027 not in index
TCGA-29-2414 not in index
TCGA-23-1023 not in index
TCGA-24-1544 not in index
TCGA-09-1665 not in index
TCGA-31-1944 not in index
TCGA-09-1666 not in index
TCGA-31-1946 not in index
TCGA-24-1105 not in index
TCGA-36-1571 not in index
TCGA-24-0968 not in index
TCGA-36-1574 not in index
TCGA-13-0901 not in index
TCGA-24-1930 not in index
TCGA-31-1951 not in index
TCGA-30-1860 not in index
TCGA-25-1635 not in index
TCGA-04-1536 not in index
TCGA-36-1576 not in index
TCGA-25-1633 not in index

In [12]:
len(barcodes)

86

In [13]:
len(names)

86

In [14]:
len(inters)

78

In [15]:
path="clintab_GMQL/"+string_mirna
barcodes=list(inters)
notorder=[]
order=np.empty(len(barcodes), dtype="<U30")
filelist=os.listdir(path)
filelist.sort()
for file in filelist:

    if file.endswith(".meta"):
        #print(file)
        tmp=pd.read_csv(path+file, sep='\t', header=None, index_col=0)
        tmp=tmp.T
        barcode=tmp['biospecimen__shared__bcr_patient_barcode'].values[0]
        if barcode in barcodes:
            #print(barcode)
            idx=barcodes.index(barcode)
            order[idx]=file[:11]
            #print(idx)
            #print(file[:11])
            notorder.append(file[:11])

            #vettore order salvo l'ordine dei pazienti

In [40]:
path="clintab_GMQL/"+string_mirna

col=['patient', 'chrom', 'start', 'stop', 'mirna_id', 'rpm', 'entrez_id', 'gene_symbol']
r=[]
for i in range(len(order)):
    tmp=pd.read_csv(path+order[i], sep='\t', header=None)
    tmp=tmp.values
    for j in range(tmp.shape[0]):
        p='SS_00'
        if i < 10:
            p=p+'00'+str(i)
        elif i< 100:
            p=p+'0'+str(i)
        else:
            p=p+str(i)
        r.append([p, tmp[j][0], tmp[j][1], tmp[j][2], tmp[j][4], tmp[j][6], tmp[j][8], tmp[j][9]])
data=pd.DataFrame(r)
#data.to_csv(path_or_buf ='new_data/sens_mirna.csv', sep='\t', header=col, index=False)
data.head() #ci sono dei nan

,0,1,2,3,4,5,6,7
0,SS_00000,chr1,17368,17436,hsa-mir-6859-1,0.00000,102466751.0,mir6859-1
1,SS_00000,chr1,30365,30503,hsa-mir-1302-2,0.00000,100302278.0,mir1302-2
2,SS_00000,chr1,187890,187958,hsa-mir-6859-2,0.00000,102465909.0,mir6859-2
3,SS_00000,chr1,632324,632413,hsa-mir-6723,0.00000,102465432.0,mir6723
4,SS_00000,chr1,1167103,1167198,hsa-mir-200b,1872.36603,406984.0,mir200b

In [41]:
#data.to_csv(path_or_buf ='clintab_GMQL/miRNA/sen_short_miRNA_6_32/sen_short_miRNA_6_32.csv', sep='\t', header=col, index=False)

In [16]:
path="clintab_GMQL/"+string_rna

col=['patient', 'chrom', 'start', 'stop', 'ensemble_id', 'entrez_id', 'gene_symbol', 'fpkm_uq', 'fpkm']
r=[]
for i in range(len(names)):
    tmp=pd.read_csv(path+names[i], sep='\t', header=None)
    tmp=tmp.values
    for j in range(tmp.shape[0]):
        p='SS_00'
        if i < 10:
            p=p+'00'+str(i)
        elif i< 100:
            p=p+'0'+str(i)
        else:
            p=p+str(i)
        r.append([p, tmp[j][0], tmp[j][1], tmp[j][2], tmp[j][4], tmp[j][5], tmp[j][6], tmp[j][9], tmp[j][10]])
data=pd.DataFrame(r)
#data.to_csv(path_or_buf ='new_data/sens_rna_seq.csv', sep='\t', header=col, index=False)
data.head()

,0,1,2,3,4,5,6,7,8
0,SS_00000,chr1,11868,14409,ENSG00000223972.5,100287102.0,DDX11L1,250.704165,0.009828
1,SS_00000,chr1,14403,29570,ENSG00000227232.5,653635.0,WASH7P,25113.097478,0.984441
2,SS_00000,chr1,17368,17436,ENSG00000278267.1,102465910.0,MIR6859-3,38379.858250,1.504503
3,SS_00000,chr1,29553,31109,ENSG00000243485.3,NaN,RP11-34P13.3,0.000000,0.000000
4,SS_00000,chr1,30365,30503,ENSG00000274890.1,100422831.0,MIR1302-9,0.000000,0.000000

In [43]:
#data.to_csv(path_or_buf ='clintab_GMQL/sens_short_6_32/sens_short_6_32_rna_seq.csv', sep='\t', header=col, index=False)

In [44]:
res=pd.read_csv('clintab_GMQL/miRNA/sen_short_miRNA_6_32/sen_short_miRNA_6_32.csv', sep='\t')
res.head()

,patient,chrom,start,stop,mirna_id,rpm,entrez_id,gene_symbol
0,SS_00000,chr1,17368,17436,hsa-mir-6859-1,0.00000,102466751.0,mir6859-1
1,SS_00000,chr1,30365,30503,hsa-mir-1302-2,0.00000,100302278.0,mir1302-2
2,SS_00000,chr1,187890,187958,hsa-mir-6859-2,0.00000,102465909.0,mir6859-2
3,SS_00000,chr1,632324,632413,hsa-mir-6723,0.00000,102465432.0,mir6723
4,SS_00000,chr1,1167103,1167198,hsa-mir-200b,1872.36603,406984.0,mir200b

In [45]:
col=['patient', 'chrom', 'start', 'stop', 'mirna_id', 'rpm', 'entrez_id', 'gene_symbol', 'fpkm']

res.to_csv(path_or_buf ='new_data/senl_mirna.csv', sep='\t', header=col, index=False)

In [46]:
fpkm=np.empty(res.shape[0], dtype=float)
for i in range(res.shape[0]):
    rpm=res.iloc[i]['rpm']

    start=res.iloc[i]['start']
    stop=res.iloc[i]['stop']
    fpkm[i]=rpm*100/(2*(stop-start))

In [47]:
res['fpkm']=fpkm
res.head()

,patient,chrom,start,stop,mirna_id,rpm,entrez_id,gene_symbol,fpkm
0,SS_00000,chr1,17368,17436,hsa-mir-6859-1,0.00000,102466751.0,mir6859-1,0.000000
1,SS_00000,chr1,30365,30503,hsa-mir-1302-2,0.00000,100302278.0,mir1302-2,0.000000
2,SS_00000,chr1,187890,187958,hsa-mir-6859-2,0.00000,102465909.0,mir6859-2,0.000000
3,SS_00000,chr1,632324,632413,hsa-mir-6723,0.00000,102465432.0,mir6723,0.000000
4,SS_00000,chr1,1167103,1167198,hsa-mir-200b,1872.36603,406984.0,mir200b,985.455805

In [48]:
res.to_csv(path_or_buf ='clintab_GMQL/miRNA/sen_short_miRNA_6_32/sen_short_miRNA_6_32.csv', sep='\t', header=col, index=False)